{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<header class="masthead text-center text-dark">

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible dafe show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <h1 class="display-2">Edit your order</h1>

  <div class="row align-content-center">
    <form class="col-md-8 mt-3 offset-md-2" method="post">
      {{ order_form | crispy }}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-primary">Edit Order</button>
    </form>
  </div>




</header>
{% endblock %}