{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="masthead text-center text-white background">

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible dafe show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0 black-border">Vegan Truffles</h1>
            <h2 class="masthead-subheading mb-0 black-border">You favorite handmade vegan chocolate!</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
        </div>
    </div>

</header>
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://images.pexels.com/photos/5149344/pexels-photo-5149344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Tasty chocolate and coconut truffles" /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">About us...</h2>
                    <p>VeganCaju is a vegan truffle store. Created with the goal to provide quality chocolate to our
                        customers, without the need to harm animals. The truffles are 100% vegan and handmade, made out
                        of coconut milk. All prepared with all the love and care in the world.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->

<section>
    <div class="container px-5 ">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://images.pexels.com/photos/10313341/pexels-photo-10313341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Chocolate Truffles" /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">How does it work?</h2>
                    <p>First, you have to make and order. You can choose between different box sizes and flavors and
                        when you want to pick it up. Once the order is made, it is going to have a "waiting for
                        approval" status. After your order is confirmed by our team, your order will appear as
                        "Accepted" and you can pick it up on the chosen date. You can only cancel or change the order
                        before it's confirmed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://images.pexels.com/photos/33550/cows-curious-cattle-agriculture.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="Friendly cows." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Go Vegan!</h2>
                    <p>Why harming other living creatures, if you can have these delicious vegan truffles? Make a
                        change!</p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}