{% extends "base.html" %}


{% block content %}
<header class="masthead text-center text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible dafe show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="row">
   {% if order_list %} 
    {% for order in order_list %}
    <div class="card text-dark offset-lg-1 offset-2 col-4 mt-2 mt-lg-0 mb-lg-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Order ID: {{ order.id }}</h5>
        <p class="card-text"><strong>Size:</strong> {{ order.get_size_display }}</p>
        <p class="card-text"><strong>Flavor:</strong>: {{ order.get_flavor_display }}</p>
        <p class="card-text"><strong>Created on:</strong> {{ order.created_on }}</p>
        <p class="card-text"><strong>Pick-up on:</strong> {{ order.pick_up }}</p>
        {% if order.status == 0 %}
        <p class="card-text"><strong>Status:</strong> {{ order.get_status_display }}</p>
        <a href="{% url 'edit_order' order.id %}" class="btn btn-warning">Edit Order</a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">Delete
          order</a>
          {% elif order.status == 1 %}
          <strong class="btn-success">Order Approved!</strong>
          {% else %}
          <strong class="btn-danger">Order Declined!</strong>
          {% endif %}


      </div>
    </div>
    <br>


    <div class="modal fade text-dark" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete order? It cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'delete_order' order.id %}" class="btn btn-danger">Delete order</a>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

      {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% else %}
  <div class="row">
    <div class="col-12">
      <h2 class="display-2 text-white black-border">You have no orders yet!</h2>
      <a href="{% url 'make_order' %}" class="btn btn-primary mt-5 col-8 col-md-3">Order Now!</a>
    </div>
  </div>
  
{% endif %}
</header>

<!-- Modal -->


{% endblock %}