{% extends "base.html" %}


{% block content %}
<header class="masthead text-center text-white">
    <div class="row">
    {% for order in order_list %}
    <div class="card text-dark offset-lg-1 offset-2 col-4 mt-2 mt-lg-0 mb-lg-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Order ID: {{ order.id }}</h5>
          <p class="card-text">Size: {{ order.get_size_display }}</p>
          <p class="card-text">Flavor: {{ order.get_flavor_display }}</p>
          <p class="card-text">Created on: {{ order.created_on }}</p>
          <p class="card-text">Status: {{ order.get_status_display }}</p>

          {% if order.status == 0 %}
          <a href="{% url 'edit_order' order.id %}" class="btn btn-warning">Edit Order</a>
          <a href="{% url 'delete_order' order.id %}" class="btn btn-danger">Delete order</a>
          {% else %}
          <strong>Order Approved!</strong>
          {% endif %}


        </div>
      </div>
      <br>
    {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</header>
{% endblock %}